<ion-header [translucent]="true">
	<app-main-toolbar [title]="'Listado Aseguradoras'"></app-main-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header>
		<ion-toolbar>
			<ion-searchbar
				[showClearButton]="true"
				[debounce]="1000"
				(ionInput)="onSearch($event)"
				[autocapitalize]="false"
			></ion-searchbar>
		</ion-toolbar>
	</ion-header>

	<div class="list ion-padding">
		<div
			*ngFor="let item of _insuranceService.insurance$ | async"
			class="list-item"
		>
			<app-insurace-card [item]="item"></app-insurace-card>
		</div>
	</div>

	<ion-fab
		slot="fixed"
		vertical="bottom"
		horizontal="end"
		style="margin-bottom: 1em; margin-right: 1em"
	>
		<ion-fab-button id="open-modal" color="primary">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
		<ng-template>
			<ion-header [translucent]="true">
				<ion-toolbar color="primary">
					<ion-title style="text-align: center"
						>Crear Aseguradora</ion-title
					>
				</ion-toolbar>
				<ion-toolbar>
					<ion-buttons slot="start">
						<ion-button (click)="cancel()">Cancelar</ion-button>
					</ion-buttons>
					<ion-buttons slot="end">
						<ion-button (click)="confirm()">Aceptar</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-card>
					<ion-card-header>
						<ion-card-title>Formulario Aseguradora</ion-card-title>
						<ion-card-subtitle
							>Registro de una nueva
							aseguradora</ion-card-subtitle
						>
					</ion-card-header>
					<ion-card-content>
						<ion-item>
							<ion-input
								label="Nombre"
								labelPlacement="floating"
								type="text"
								[(ngModel)]="newInsurance.name"
							></ion-input>
						</ion-item>
					</ion-card-content>
				</ion-card>
				<div class="image ion-padding">
					<ion-img
						[src]="imageWebPath"
						style="width: 100%; height: auto"
					></ion-img>
					<ion-button
						color="primary"
						expand="block"
						fill="outline"
						(click)="pickImage()"
					>
						Subir Imagem
						<ion-icon name="image-outline" slot="end"></ion-icon>
					</ion-button>
				</div>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>
